body{
  background-image: url(/img/KONGULAR2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#buttonplay{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 520px;
}
