<style media="screen">
  body{
    background-image: url(/img/temple.gif);
  }
</style>

<body>
    <audio src="music/donkey.mp3" autoplay loop></audio>
    <div class="container" ng-if="x === 70">
        <riddles-list good="$ctrl.good" bad-answer="$ctrl.badAnswer"></riddles-list>
        <!-- good answer -->
        <div ng-if="$ctrl.good" id="tbox" ng-hide="$ctrl.banana">
            <h3>AAAAaaaaaRRGGHHh !!!! Bravo...Tu m'as battu, tu peux récupérer tes bananes</h3>
            <a class="btn btn-warning" name="button" ng-click="$ctrl.banana = !$ctrl.banana">OK</a>
        </div>
        <!-- bad answer -->
        <div ng-if="$ctrl.badAnswer" id="tbox">
            <h3>Perdu !!! Ta cervelle est à moi !! </h3>
            <a class="btn btn-warning" name="button" ui-sref="app.gameOver">OK</a>
        </div>

        <div>
            <!-- <a id="btnbanana" ng-if="$ctrl.banana" ng-click="$ctrl.stageTwo = !$ctrl.stageTwo" ng-hide="$ctrl.stageTwo">BOUTON BANANA</a> -->
        </div>
        <a id="btnbanana" ng-if="$ctrl.banana" ng-click="$ctrl.stageTwo = !$ctrl.stageTwo" ng-hide="$ctrl.stageTwo"><img src="img/banana.gif" alt="" /></a>

        <div id="gostagetwo" ng-if="$ctrl.stageTwo">
            <h3>Bravo Kong ! Tu as battu le T-Rex. Tu peux maintenant te rendre au stage 2 !!</h3>
            <a ui-sref="app.stageTwo" class="btn btn-warning" name="button">STAGE 2</a>
        </div>
    </div>


    <controllers x="x"></controllers>
    <gorilla x="x"></gorilla>

    <trex ng-hide="$ctrl.banana"></trex>
</body>
